.Product {
	margin-top: 20px;
	padding-left: 20px;
	width: calc(100%- 20px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #def6fe;
	position: relative;
	margin-bottom: 40px;
}

.Product .Rounded {
	border: 1px solid grey;
	border-radius: 20px;
	padding: 0px 10px 5px 10px;
	max-width: fit-content;
}

.Product .ProductInteractionIcon {
	cursor: pointer;
	position: relative;
	top: 5px;
	padding-left: 2px;
}

.Product .ProductFavoriteLabel {
	font-style: italic;
	font-weight: 500;
}

.Product-Image {
	height: 500px;
	width: 450px;
	margin-bottom: 20px;
}

.ProductDetails {
	display: flex;
	gap: 100px;
}
